# ==========================================
# VISUAL STUDIO / IDE GARBAGE ONLY
# ==========================================

# Visual Studio workspace


.vs/
bin/
# User / machine specific files


# Build outputs
